<!DOCTYPE html>
<html>
<head>
    <title><%= title %> &bull; Aran Dashboard</title>
    <link rel="stylesheet" href="/style/skeleton.css">
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/vendor/jquery/jquery.min.js"></script>

    <% if (locals.scripts) { %>
        <%- scripts.map(s => "<script src='" + s + "'></script>").join("\n"); %>
    <% } %>
    <% if (locals.styles) { %>
        <%- styles.map(s => "<link rel='stylesheet' href='" + s + "'>").join("\n"); %>
    <% } %>
</head>
<body>
<div class="container">